.header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    transition: transform 0.5s ease;
    background: var(--headerBg);
    border-bottom: 0.125rem solid #5f574a;
    ;
}

.hide {
    transform: translateY(-100%);
}

.container {
    max-width: 75rem;
    margin: auto;
    padding: 1rem 1.25rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logoContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.logo {
    width: auto;
    height: 2.5rem;
    padding-right: 1rem;
    filter: invert();
}

.company {
    color: var(--whiteText);
    font-family: var(--font-poppins), sans-serif;
    font-size: 1.5rem;
    font-weight: 500;
}

/* Desktop Navigation */
.navDesktop {
    display: flex;
    font-family: var(--font-montserrat), sans-serif;
    font-size: 1rem;
    font-weight: 500;
    gap: 1.25rem;
}

.navDesktop a {
    text-decoration: none;
    color: var(--whiteText);
    font-weight: 500;
}

.navDesktop a:hover {
    opacity: 0.65;
}

/* Burger Button */
.burger {
    display: none;
    flex-direction: column;
    gap: 0.5rem;
    background: none;
    border: none;
    cursor: pointer;
}

.burger span {
    width: 1.5rem;
    height: 0.125rem;
    background: #FFFFFF;
}

/* Mobile Menu */
.navMobile {
    display: flex;
    flex-direction: column;
    background: #F8FAFC;
    border-top: 0.215rem solid #d9d9d9;
    font-family: var(--font-montserrat), sans-serif;
    font-size: 1rem;
    font-weight: 500;
}

.navMobile a {
    padding: 1rem 1.25rem;
    border-bottom: 0.125rem solid #ECECEC;
    text-decoration: none;
    color: var(--blackText);
}

/* Responsive */
@media (max-width: 48rem) {
    .navDesktop {
        display: none;
    }

    .burger {
        display: flex;
    }
}